html, body, div, span,section, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,p{margin:0 ;padding:0}
body{margin: 0 auto;color:#333;background:#FFF;font-size:14px;overflow-y:scroll;}
	
a {color:#020e65;text-decoration:none}

#navigation { margin:5px; padding: 0}
#navigation ul li { display: inline; margin: 0px; padding:0 5px 0 5px; text-decoration: underline; font-weight:bold; font-size: 9pt;}
#navigation ul li a:hover { color:red; }
.naline{clear:both;margin: 0 auto;width:100%}
.naline{position:relative;border-top:#ccc 1px solid}


.kwei {width: auto;height: auto;max-width: 100%; max-height: 100%;padding:50px 0 20px 0;margin: 0 auto;vertical-align:top;text-align: center;}
.wrap{margin:0 auto;width:93%}

#container {width: 65%;min-width:280px;margin: 0 auto}
#wd-input{font-size:1.2em; background: #fff;border: none;color: #020e65;padding:0;margin: 0 auto;height: 2em;line-height: 2em;outline: none;width: 90%;}
.search-input {margin: 10px 0 0 -10px;border: 0.1em solid #b0b7ac;background: #fff;height: 2.4em;padding: 0.1em 0.5em 0.1em 0.5em;width: 100%;position: relative;}
.search{float:right;cursor: pointer;color: #ccc;text-align: center;line-height: 2.4em;width: 10%;}
.search-input:hover{border-color:#a349a4}
.search:hover{color:#a349a4}

.recommend{clear:both;margin: 0 auto;padding:60px 0 60px 0;width:85%}
.recommend li{text-align: center;float:left;padding:0;width:20%;min-width:140px;height:60px;line-height:30px;overflow:hidden}
.recommend li img{margin-right:10px;vertical-align:middle;border-radius:3px}
.recommend a:hover{color:#0078ff}

.line{clear:both;margin: 20px auto;width:82%}
.line{position:relative;z-index:0;line-height:35px;text-align:center;color:#CCC;background-color:#FFF;border-top:#CA7A2C 2px solid}


.category{clear:both;margin: 0 auto;padding:10px 0 6px 0px;width:80%}
.category h3{float:left;margin-top:2px;width:80px;line-height:22px;font-weight:bold;color:#1b54f2;text-align: center;padding-right:30px}
.category ul{overflow:hidden;_zoom:1}
.category ul li{float:left;width:100px;height:26px;line-height:26px;overflow:hidden;text-overflow:ellipsis;text-align: left;color:#000}
.category ul li a:hover{color: red;text-decoration: underline;}


#footer {clear:both;height: 40px;line-height: 40px;margin: 0 auto;bottom: 0;width: 100%;text-align: center;color: #a349a4;font-family: Arial;font-size: 12px;letter-spacing: 1px}
.copyright{color: #a349a4;text-decoration:none; vertical-align:center}
.link{color: #a349a4;text-decoration:underline}


.gotop{position:fixed;right:0px;bottom:2em;}
.gotop-style{display:block;width:48px;height:48px;margin-top:1px;position:relative;-moz-transition:background-position 1s;-ms-transition:background-position 1s;-o-moz-transition:background-position 1s;-webkit-moz-transition:background-position 1s;transition:background-position 1s;}
.gotop-bg{background:url(../images/top.png) no-repeat}